*{
	box-sizing:border-box;
}
body, html{
	min-height:100vh;
}
body{
	margin:0px;
	display:flex;
}
ul.main{
	flex-grow:0;
	height:42px;
	list-style:none;
	display:flex;
	flex-direction:row;
	background-color:#dedede;
	padding:0px;
	margin:0px;
	z-index:9999;
	position:relative;
	margin-top:14px;
}
ul.main li{
	border:outset;
	overflow:hidden;
}
ul.main li, 
ul.main li a{
	display:flex;
	justify-content:center;
	align-items:center;
	width:42px;
	height:42px;
}
ul.main li a:hover{
	background-color:#B9B9B9;
}
.data-wrapper{
	background-color:black;
	display:flex;
	position:absolute;
	flex-direction:column;
	overflow:hidden;
	left:0px;
	top:0px;
}
.controls{
	height:14px;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	display:flex;
	flex-direction:row;
	list-style:none;
	margin:0px;
	padding:0px;
}
.controls li{
	background-color:#dedede;
	display:flex;
	cursor:pointer;
	justify-content:center;
	align-items:center;
	width:14px;
	height:14px;
	border:outset 2px;
	padding:0px;
}
.controls li a{
	font-size:10px;
	color:black;
	padding:0px;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
}
.controls .close a{
	font-size:13px;
}
.controls .pin a{
	font-size:8px;
}
.controls .move a{
	font-size:8px;
}
.controls .move{
	flex-grow:1;
	-webkit-app-region: drag;
}